version: '3'
services:
  ebiznes:
    build: .
    ports:
      - "12345:9000"
      - "12346:6000"
    volumes:
      - .:/home/biz/projekt/sklep
    working_dir: /home/biz/projekt/sklep
    command: bash -c source sbt run