@(formbody: Form[UpdateItemCommentForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.ItemCommentController.updateHandle) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@formbody("id").value" type="hidden" />
    @inputText(formbody("comment_body"))
    @inputText(formbody("product"))
    @inputText(formbody("client"))


    <div class="buttons">
        <input type="submit" value="Update"/>
    </div>
}